<div class="card"  [appSortByDate]="cardData.snippet.publishedAt">
  <img class="video-thumbnail" src="{{ cardData['snippet']['thumbnails']['medium']['url'] }}" width="220"
    alt="video-thumbnail">
  <div class="box-statistic">
    <img class="img-stat" src="/assets/viewed.svg" alt="viewed">
    <span class="value-stat">{{ cardData['statistics']['viewCount'] }}</span>
    <img class="img-stat" src="/assets/liked.svg" alt="liked">
    <span class="value-stat">{{ cardData['statistics']['likeCount'] }}</span>
    <img class="img-stat" src="/assets/dislike.svg" alt="dislike">
    <span class="value-stat">{{ cardData['statistics']['dislikeCount'] }}</span>
    <div class="img-comments">
      <div class="img-elem elem-pos-top"></div>
      <div class="img-elem elem-pos-bottom"></div>
    </div>
    <span class="value-stat">{{ cardData['statistics']['commentCount'] }}</span>
  </div>
  <p class="video-title">{{ cardData['snippet']['title'] }}</p>
  <div class="btn-more-info" (click)="goToDetailInfo()">more...</div>
</div>
