@import "src/variables";

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
  padding: 0 5% 0 2%;
  color: #4f4f4f;
  font-family: $font;
  font-size: $font-size;
  background-color: $header-color;
}

.text-header {
  font-size: 20px;
  font-weight: bold;
}

.box-search {
  display: flex;
  justify-content: center;
  align-items: center;

  .img-logo {
    margin-right: 10px;
  }

  .input-search {
    width: 300px;
    height: 21px;
  }

  .btn-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $btn-color;
    background-color: $btn-color;
    cursor: pointer;

    &:hover {
      background-color: lighten($btn-color, 10%);
    }
  }
}

.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0 10px;
  min-height: 40px;
  color: white;
  background-color: darken($header-color, 20%);
  border: 2px solid white;
  border-radius: 15px;

  &:hover {
    background-color: darken($header-color, 30%);
    cursor: pointer;
  }

  .img-login {
    margin-left: 5px;
  }
}
