<div class="wrapper">
  <div class="box-search">
    <img class="img-logo" src="./../../../../assets/logo.svg" width="50" alt="logo">
    <input type="text" class="input-search" [(ngModel)]="inputSearch">
    <div class="btn-search" (click)="goToSearchCards()">search</div>
    <div class="btn-sort" (click)="toggleSortMenu()">
      <img src="./../../../../assets/sort.svg" width="20" alt="sort">
    </div>
  </div>
  <div class="box-login">
    <p>Login</p>
    <img class="img-login" src="./../../../../assets/login.svg" width="20" alt="login">
  </div>
</div>
<app-sort *ngIf="viewSortMenu" (onClickSortByDate)="getSortCardsByDate()"
  (onClickSortByViews)="getSortCardsByViews()" (onInputSort)="getSortCardsByWord($event)"></app-sort>
