@import "./../../../../variables";

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 10%;
  color: #4f4f4f;
  font-family: $font;
  font-size: $font-size;
  background-color: $header-color;
}

.box-search {
  display: flex;
  justify-content: center;
  align-items: center;

  .img-logo {
    margin-right: 10px;
  }

  .input-search {
    width: 300px;
    height: 21px;
  }

  .btn-search {
    width: 80px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    border-radius: 0 10px 10px 0;
    border: 1px solid $btn-color;
    background-color: $btn-color;
    cursor: pointer;

    &:hover {
      background-color: lighten($btn-color, 10%);
    }
  }

  .btn-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $btn-color;
    background-color: $btn-color;
    cursor: pointer;

    &:hover {
      background-color: lighten($btn-color, 10%);
    }
  }
}

.box-login {
  position: absolute;
  left: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .img-login {
    margin-left: 5px;
  }
}
