@import "./../../../../variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  padding: 2%;
  background-color: $header-color;
  border-radius: 2%;
}

h1 {
  margin: 20px 0;
  color: darken($header-color, 50%);
  font-size: 30px;
}

.form-group {
  margin-bottom: 10px;
}

.label-login {
  display: block;
  margin-bottom: 2px;
  color: darken($header-color, 50%);
  font-size: 14px;
}

.form-control {
  display: block;
  font-size: 20px;
}

.btn-submit {
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: $btn-color;
}
