<div class="box-form-login">
  <h1>Login</h1>
  <form #myTemplateVar="ngForm">
    <div class="form-group">
      <label class="label-login" for="login">Login</label>
      <input type="text" class="form-control" id="login" name="login" [(ngModel)]="login" required>
    </div>
    <div class="form-group">
      <label class="label-login" for="password">Password</label>
      <input type="password" class="form-control" id="password"
        name="password" #amount="ngModel" [(ngModel)]="password" minlength="6">
      <div *ngIf="amount.invalid" class="alert-danger">
        Required length is at least 6 characters
      </div>
    </div>
    <button type="submit" class="btn-submit" (click)="onSubmit(myTemplateVar)"
      [disabled]="myTemplateVar.invalid">Login</button>
  </form>
</div>
