@import "./../../../variables";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 325px;
  margin: 20px;
  padding: 10px;
  font-family: $font;
  font-size: $font-size;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
  background-color: lighten($header-color, 10%);
}

.box-statistic {
  display: flex;
  justify-content: center;
  align-items: center;

  .img-stat {
    margin: 0 5px 0 10px;
  }

  .img-comments {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 10px;

    .img-elem {
      width: 11px;
      height: 11px;
      border-radius: 2px;
      border: .5px solid lighten($header-color, 10%);
      background-color: black;
    }

    .elem-pos-top {
      position: absolute;
      left: 3px;
    }

    .elem-pos-bottom {
      position: absolute;
      top: 3px;
    }
  }
}

.video-title {
  align-self: flex-end;
  margin: 0 20px;
  color: darken($header-color, 50%);
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.btn-more-info {
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  border: 1px solid $btn-color;
  border-radius: 5px;
  background-color: $btn-color;
  cursor: pointer;

  &:hover {
    background-color: lighten($btn-color, 10%);
  }
}


